.form {
  background-color: #6233b9;
  padding: 1rem 1.5rem;
  width: 20rem;
}

.form label {
  display: block;
  margin-bottom: 0.05rem;
  color: #eadbfb;
  font-weight: bold;
}

.form input,
.form textarea {
  width: 100%;
  display: block;
  border-radius: 6px;
}

.form p {
  margin-bottom: 1.5rem;
}

.form input {
  height: 42px;
}
